<% if user = User.find_by(id: review.user_id)%>
  <tr>
    <td>
      <p><%= review.description %></p>
    </td>
    <td>
      <%= review.rating %>
    </td>
    <td>
      <%= user.first_name %>
    </td>
    <td>
      <%= review.created_at %>
    </td>
    <% if session[:user_id] == user.id %>
      <td>
        <%= link_to fa_icon('trash'), [review.product, review], class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: "Are you sure?" } %>
      </td>
    <% end %>
  </tr>
<% end %>
